#define IDM_FILE_EXIT   10001
#define IDM_ACTION_RECOMMENDATION   10101
#define IDM_ACTION_LISTSORT  10102
#define IDM_HELP_ABOUT  10103

MyMenu  MENU
BEGIN
	POPUP "&File"
  	BEGIN
    		MENUITEM "E&xit", IDM_FILE_EXIT
	END
	POPUP "&Action"
  	BEGIN
    		MENUITEM "R&ecommendation", IDM_ACTION_RECOMMENDATION
    		MENUITEM "L&istSort",IDM_ACTION_LISTSORT
	END
	POPUP "&Help"
	BEGIN
	    	MENUITEM "&About",IDM_HELP_ABOUT
	END
END
